// Base stuff
@import "base/_normalize";
@import "base/_typography";
@import "base/_custom";

// Sass utilities
@import "helpers/_mixins";
@import "helpers/_variables";
@import "helpers/_extends";
@import "helpers/_element";


// Components and modules
@import "components/_banner";
@import "components/_category-banner";
@import "components/_header-search";
@import "components/_mobile-search";
@import "components/_breadcrum";
@import "components/_pagination";
@import "components/_subcribe";
@import "components/_copy-right";
@import "components/_language";
@import "components/_quantity-box";
@import "components/_product-list";
@import "components/_product-album";

@import "components/_block";
@import "components/_block-product-style-1";
@import "components/_block-product-style-2";
@import "components/_block-product-style-3";
@import "components/_block-product-style-4";
@import "components/_block-product-style-5";
@import "components/_block-product-style-6";

@import "partials/_form";
@import "partials/_fields";
@import "partials/_button";
@import "partials/_text_heading";

// Layout related stylesheets
@import "layout/_footer";
@import "layout/_header";
@import "layout/_navmain";
@import "layout/_topbar";
@import "layout/_sidebar";
@import "layout/_logo";

// Page-specific stylesheets
@import "pages/_page-home";
@import "pages/_page-category";
@import "pages/_page-detail";
@import "pages/_page-contact";


// Vendors and external stylesheets
body {background-color: $color-base;font-family: $font-base; color: $color-text;font-size: $font-size-s;line-height: 1.2;-webkit-font-smoothing: antialiased;overflow-x: hidden}

