#logo {margin: 0 0 0 45px;
  img {width: 152px}
  @media (min-width: $bp-l) {
    img {height: auto;width: auto}
  }
  a {display: block;font-size: 0}
  strong {position: absolute;text-indent: -9999em}
}