<div id="" class="banner">
    <div id="banner_home" class="banner_container">
        {% for i in 0..7 %}
            <div class="banner_item">
                <a href="#" class="banner_item_thumb">
                    <img src="https://via.placeholder.com/500x500" alt=""/>
                </a>
            </div>
        {% endfor %}
    </div>
</div>