<div class="block_container block_product_style_1">
    <div class="block_header">
        <h2 class="block_title">Toronto Raptor</h2>
        <a href="#" class="block_title_viewmore">View more</a>
    </div>
    <div class="block_body">
        <div class="block_product">
            <div class="row product_list">
                {% for i in 0..5 %}
                <div class="col-6 col-md-4 col-lg-2 product_item">
                    <a href="#" class="product_item_thumb" title="">
                        <img src="https://via.placeholder.com/500x500" alt=""/>
                    </a>
                    <h3 class="product_item_name">
                        <a href="#" title="Product Name">Product Name</a>
                    </h3>
                    <div class="product_item_price">$00.00</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>