<div class="block_container block_product_style_5">
    <div class="block_header">
        <h2 class="block_title">Martin</h2>
        <a href="#" class="block_title_viewmore">View more</a>
    </div>
    <div class="block_body">
        <div class="block_product">
            <div class="product_banner">
                <a href="#" title="" class="product_banner_thumb">
                    <img src="https://via.placeholder.com/1612x400" alt=""/>
                </a>
                <div class="product_banner_info">
                    <h3 class="product_banner_name">Anime Collection</h3>
                    <h4 class="product_banner_type">HOT COLLECTION</h4>
                </div>
            </div>
            <div class="row">
                {% for i in 0..7 %}
                    <div class="col-6 col-lg-3 product_item">
                        <a href="#" class="product_item_thumb" title="">
                            <img src="https://via.placeholder.com/500x500" alt=""/>
                        </a>
                        <h3 class="product_item_name">
                            <a href="#" title="Product Name">Product Name</a>
                        </h3>
                        <div class="product_item_price">$00.00</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>