<div class="block_container block_product_style_4">
    <div class="block_header">
        <h2 class="block_title">Nipsey Hussle</h2>
        <a href="#" class="block_title_viewmore">View more</a>
    </div>
    <div class="block_body">
        <div class="block_product">
            <div class="row">
                <div class="col-lg-8 product_list_scroll">
                    <div class="row product_list">
                        {% for i in 0..7 %}
                            <div class="col-lg-3 product_item">
                                <a href="#" class="product_item_thumb" title="">
                                    <img src="https://cdn.floytee.com/var/opt_images/5514773c5223131335c274aa98a874ff.1000x1000.0.1555903030.jpg" alt=""/>
                                </a>
                                <h3 class="product_item_name">
                                    <a href="#" title="Product Name">Product Name</a>
                                </h3>
                                <div class="product_item_price">$00.00</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product_banner">
                        <a href="#" title="" class="product_banner_thumb">
                            <img src="https://via.placeholder.com/532x730" alt=""/>
                        </a>
                        <div class="product_banner_info">
                            <h3 class="product_banner_name">Anime Collection</h3>
                            <h4 class="product_banner_type">HOT COLLECTION</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>