<div class="category_banner">
    <figure href="#" class="category_banner_thumb" style="background-image: url('https://via.placeholder.com/1180x270')">

    </figure>
    <h2 class="category_banner_name">
        Best Sellers
    </h2>
</div>