<div id="paging">
    <div class="paging_container">
        <div class="paging_lst">
            <div class="paging_item paging_item--first"> << </div>
            <div class="paging_item paging_item--back"> < </div>
            <div class="paging_item current">1</div>
            <div class="paging_item">2</div>
            <div class="paging_item">2</div>
            <div class="paging_item">4</div>
            <div class="paging_item">5</div>
            <div class="paging_item paging_item--next"> > </div>
            <div class="paging_item paging_item--last"> >> </div>
        </div>
    </div>
</div>