<div class="product_album">
    <div class="row ">
        <div class="col-lg-10  order-md-last">
            <div class="album_full">
                <a href="javascript:void(0)" class="album_full_thumb" title=""><img src="https://cdn.floytee.com/var/opt_images/cb8bac29c7e6ab96ccac854e35863d83.700x700.0.1556438381.jpg" alt="" /></a>
                <a href="javascript:void(0)" class="album_full_thumb" title=""><img src="https://cdn.floytee.com/var/opt_images/7f33660b12a0bc0836a9c2c18978b1f0.700x700.0.1555933619.jpg" alt="" /></a>
                <a href="javascript:void(0)" class="album_full_thumb" title=""><img src="https://cdn.floytee.com/var/opt_images/d3dfd843a22a740b1f102dd9a35791d7.700x700.0.1558001642.jpg" alt="" /></a>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="album_thumb_lst">
                <a href="javascript:void(0)" class="album_thumb_item" title=""><img src="https://cdn.floytee.com/var/opt_images/cb8bac29c7e6ab96ccac854e35863d83.700x700.0.1556438381.jpg" alt="" /></a>
                <a href="javascript:void(0)" class="album_thumb_item" title=""><img src="https://cdn.floytee.com/var/opt_images/7f33660b12a0bc0836a9c2c18978b1f0.700x700.0.1555933619.jpg" alt="" /></a>
                <a href="javascript:void(0)" class="album_thumb_item" title=""><img src="https://cdn.floytee.com/var/opt_images/d3dfd843a22a740b1f102dd9a35791d7.700x700.0.1558001642.jpg" alt="" /></a>
            </div>
        </div>

    </div>
</div>