<div id="subcribe">
    <div class="container-custom">
        <div class="row">
            <div class="col-md-6 subcribe_col subcribe_col--left">
                <h4 class="subcribe_title">SUBSCRIBE</h4>
                <p class="subcribe_text">Sign up to get the latest on sales, new releases and more ...</p>
            </div>
            <div class="col-md-6 subcribe_col subcribe_col--right">
                <div class="subcribe_form">
                    <input type="text" class="input_common" />
                    <button>Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>