.block_product_style_2 {
  .block_product {
    @media (min-width: $bp-laptop) {
      padding: 0 calc(16.666667% + 4px);
    }
  }
  .product_list {
    .product_item {margin: 0;
      @media (min-width: $bp-laptop) {
        position: absolute;width: 100%;
        &:nth-child(1){left: 0;top: 0;}
        &:nth-child(2){left: 0;bottom: 0;}
        &:nth-child(3){right: 0;top: 0;}
        &:nth-child(4){right: 0;bottom: 0;}
      }
    }
  }
  .product_banner {margin-bottom: 8px;
    @include responsive-ratio(1072, 650);
    @media (min-width: $bp-laptop) {
      margin: 0;
    }
  }
  .product_banner_info {left: 0;bottom: 0;}
}