#breadcrums {padding: 5px 0;margin-bottom: 10px;
  @media (min-width: $bp-md) {

  }
}
.breadcrum_container {align-items: center;display: flex;}
.breadcrum_item {margin-right: 10px;
  a {margin-right: 5px}
  &--current {color: $color-text}
}
i.breadcrum_home {}
i.breadcrum_arrow {font-size: $font-size-xs}