.paging_container {}
.paging_lst {display: flex;align-items: center;justify-content: center}
.paging_item {margin: 0 2px;padding: 7px 5px;min-width: 30px;text-align: center;line-height: 16px;border: solid 1px transparent;
  &.current {border: solid 1px $color-border;}
  &.break {}
  @include border-radius(2px);
}