<div id="breadcrums">
    <div class="breadcrum_item">
        <i class="fas fa-home breadcrum_home"></i>
        <a href="#" class="">iChiba</a>
        <i class="fas fa-chevron-right breadcrum_arrow"></i>
    </div>
    <div class="breadcrum_item">
        <a href="#" class="">iChiba</a>
        <i class="fas fa-chevron-right breadcrum_arrow"></i>
    </div>
    <div class="breadcrum_item">
        <a href="#" class="">iChiba</a>
        <i class="fas fa-chevron-right breadcrum_arrow"></i>
    </div>
    <div class="breadcrum_item breadcrum_item--current">
        <span>Tầm nhìn và sứ mệnh</span>
    </div>
</div>
