<!--=======================HEADER=======================-->
<header id="header">
    {% include '../layout/topbar.twig' %}
    <div class="container-custom header_container">
        {% include 'navigation.twig' %}
        <div class="header_search">
            <form action="" class="header_search_frm">
                <input type="text" class="input_common header_search_input" placeholder="Tìm kiếm" name="header_search_input" autofocus/>
                <button type="submit" class=" header_search_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->


