<div class="topbar">
    <div class="container-custom">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-8 topbar_col--left">
                <h1 id="logo">
                    <a href="/" title="{{ slogan }}">
                        <img src="/images/logo-big.svg" alt="{{ slogan }}" width=""/>
                    </a>
                </h1>
                <a id="humbuger_icon" href="javascript:void(0)">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="col-lg-4 topbar_col--mid">
                <div class="top_search"></div>
                <form action="" class="top_search_form">
                    <div class="input_wrap">
                        <input type="text" class="" placeholder="Search for..."/>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-6 col-4 topbar_col--right">
                <ul class="topbar_menu">
                    <li><a href="#" title="Track Order">Track Order</a></li>
                    <li><a href="#" title="Contact Us">Contact Us</a></li>
                    <li><a href="#" title="Support">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>