#page_home {
  .page_home_container{max-width: 100%;
    @media (min-width: 992px) {
      &.container-custom {max-width: 960px;}
    }

    @media (min-width: 1200px) {
      &.container-custom {max-width: 1620px;}
    }
  }
}
