{% extends "../layout/layout.twig" %}
{% block pageTitle %}Trang chủ {% endblock %}
{% block pageDes %}{{ slogan }}{% endblock %}
{% block page %}
    <div id="page_category" class="page_main">
        {% include "../layout/header.twig" %}
        <div class="main_body">
            <div class="container">
                <div class="block_container">
                    <div class="block_header">
                        <h3 class="block_title">Toronto Raptor</h3>
                    </div>
                    <div class="block_body">
                        Toronto Raptor
                        Toronto Raptor
                        Toronto Raptor
                    </div>
                </div>
            </div>
        </div>
        {% include "../layout/footer/footer.twig" %}
    </div>
{% endblock %}

