{% include "../../component/subcribe.twig" %}
<footer id="footer">
    <div class="container-custom">
        {% include "footer_info.twig" %}
        {% include "footer_bottom.twig" %}
    </div>
</footer>
{% include "copyright.twig" %}