<div class="footer_bottom">
    <div class="row">
        <div class="col-md-4 footer_bottom_col">
            <div class="footer_social">

            </div>
        </div>
        <div class="col-md-4 footer_bottom_col">
            <div class="footer_power_by">
                <img src="../../../images/power-by.svg" alt="Power by"/>
            </div>
        </div>
        <div class="col-md-4 footer_bottom_col">
            <div class="footer_pay_card">
                <img src="../../../images/pay-card.svg" alt="Payment"/>
            </div>
        </div>
    </div>
</div>